.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #39eab5;
  }
  
  .hero-section {
    text-align: center;
    color: #030000;
    /* background: url('/path-to-your-image.jpg') no-repeat center center/cover; */
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .hero-text {
    font-size: 3rem;
    font-weight: bold;
  }
  